ion-header {
  background: #000;

  ion-toolbar {
    --background: transparent;
  }

  ion-title {
    color: var(--ion-color-light);
  }
}

ion-content {
  --background: #000;

  ion-item {
    --background: transparent;
  }

  .item_div {
    --background: transparent;

    img {
      border-radius: 3px;
      margin-right: 10px;
      height: 56px;
      width: 56px;
    }
    .name {
      font-size: 14px;
      font-family: "Poppins-Medium";
      // color: var(--ion-color-darkBlue);
      color: var(--ion-color-light);
    }
    .adress {
      font-size: 10px;
      font-family: "Poppins-Regular";
      // color: var(--ion-color-darkgray);
      color: var(--ion-color-light);
      line-height: 15px;
    }
  }
  .combo_item {
    --background: transparent;
    border-bottom: dashed 1px var(--ion-border-color);

    .item_span {
      margin-right: 5px;
    }
  }
  .combo {
    font-family: "Poppins-Medium";
    font-size: 12px;
    // color: var(--ion-color-darkBlue);
    color: var(--ion-color-light);
  }
  .direction {
    height: 13px;
    width: 13px;
  }
  .price {
    font-size: 12px;
    font-family: "Poppins-Medium";
    // color: var(--ion-color-green);
    color: var(--ion-color-light);
  }
  .btn_div {
    display: flex;
    border: solid 1px;
    border-radius: 3px;
    border-color: var(--ion-color-light-gray);
    height: 25px;
    width: 77px;
    margin-left: 10px;
    .add-btn {
      --padding-start: 0px;
      --padding-end: 0px;
      margin: 0px;
      width: 25px;
      height: 24px;
      --background: transparent;
      // --color: var(--ion-color-dark-gray);
      --color: var(--ion-color-light);
      --box-shadow: none;
      --border: none;
      --ripple-color: var(--ion-color-white);
      --background-activated: none;
      ion-icon {
        // color: var(--ion-color-darkgray);
        color: var(--ion-color-light);
        width: 15px;
      }
      .add {
        // color: var(--ion-color-green);
        color: var(--ion-color-light);
      }
    }
    .one {
      width: 25px;
      padding-top: 1px;
      text-align: center;
      font-size: 12px;
      // color: var(--ion-color-green);
      color: var(--ion-color-light);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .devider {
    // background-color: var(--ion-color-sky);
    background-color: var(--ion-color-dark);
    height: 15px;
  }
  .bill_detail {
    .bill_item {
      font-size: 10px;
      font-family: "Poppins-Medium";
      // color: var(--ion-color-darkBlue);
      color: var(--ion-color-light);
    }
    .total {
      // color: var(--ion-color-green);
      color: var(--ion-color-light);
      font-size: 10px;
      font-family: "Poppins-Medium";
      border-bottom: dashed 1px var(--ion-border-color);
      margin-bottom: 0px;
      padding-bottom: 10px;
    }
    .cancel_fee {
      margin-bottom: 0px;
      padding-bottom: 10px;
      border-bottom: dashed 1px var(--ion-border-color);
    }
    .saved {
      // background-color: var(--ion-color-light-green);
      background-color: var(--ion-color-dark);
      // border: dashed 1px var(--ion-color-green);
      border: dashed 1px var(--ion-color-light);
      color: var(--ion-color-light);
      height: 26px;
      // color: var(--ion-color-green);
      font-size: 10px;
      font-family: "Poppins-Medium";
      padding: 5px;
      margin-bottom: 15px;
    }
  }
  .last_div {
    .address_div {
      display: flex;
      .pin_div {
        padding-top: 3px;
        width: 8%;
        ion-icon {
          // color: var(--ion-color-green);
          color: var(--ion-color-light);
        }
      }
      .adress {
        // width: 66%;
        width: 60%;
        .adress_p {
          font-size: 12px;
          font-family: "Poppins-Regular";
          // color: var(--ion-color-darkgray);
          color: var(--ion-color-light);
          margin-top: 0;
          margin-bottom: 7px;
        }
      }
      .change {
        display: flex;
        width: 24%;
        .change_ad {
          font-size: 9px;
          font-family: "Poppins-Regular";
          // --color: var(--ion-color-green);
          color: var(--ion-color-light);
          text-transform: capitalize;
          height: 15px;
          margin: 0;
          --ripple-color: var(--ion-color-white);
          --color-activated: none;
        }
      }
    }
    #map {
      height: 140px;
      margin-bottom: 20px;
    }
  }
}
